<div class="container">
  <div class="row">
    <div class="col-lg-6" *ngFor="let test of tests | async; let i=index">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">{{test.title}}</h4>
          <p class="card-text">Fecha creacion: {{test.creation_date}}</p>
          <p class="card-text">Descripción: {{test.description}}</p>
        </div>
        <div class="form-group" *ngFor="let question of test.questions ; let j=index ">
          {{question.title}}
          <div class="form-group" *ngFor="let answer of question.answers ; let k=index">
            {{answer.text}}
          </div>
        </div>
        <div class="card-block">
          <a class="card-link" (click)="deleteTest(test.$key)">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
